@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Collaborative Story Writing.</h2> 
<p>Any writer can start a new story or contribute to existing stories. Each contribution however, is limited to 100 characters.</p>